<?xml version="1.0"?>

<model>
     <name>Late stage corn plot</name>
     <version>1.0</version>
     <sdf version='1.5'>model.sdf</sdf>

     <author>
          <name>Arun Sivakumar</name>
          <email>arunnarenthiran@yahoo.com</email>
     </author>

     <description>
          Plot of corn stalks in their late stages of development
     </description>
</model>
