<?xml version="1.0"?>
<launch>
    <arg name = "env_config_path" default="/home/jimmy/catkin_ws/src/terra-simulation/terra_worlds/configs/env_0"/>
    <arg name = "rosbag_path" default="/home/jimmy/das_lab/corn_env0.bag"/>
    <arg name = "main_topics" value="/mpc_node/pts_car /terrasentia/center_zed2/depth/depth_registered /terrasentia/left_zed2/depth/depth_registered /terrasentia/right_zed2/depth/depth_registered /terrasentia/mpc_cmd_vel /terrasentia/mpc_path_ref /terrasentia/mpc_path_noi /terrasentia/motion_command /terrasentia/ground_truth /terrasentia/route_id /terrasentia/route_init_lane /terrasentia/route_target_lane /terrasentia/lane_skip /terrasentia/reach_goal /tf"/>
    
    <!-- <node name="mpc" pkg="terra_mpc" type="mpc_node.py" respawn="true">
    </node> -->

    <node name="rowswitch" pkg="terra_utils" type="rowswitch.py" respawn="true">
        <param name = "env_config_path" value = "$(arg env_config_path)" />
    </node>

    <node pkg="rosbag" type="record" name="rosbag_record" args="record -O $(arg rosbag_path) $(arg main_topics)"/>     
</launch>
