<launch>
	<arg name="x" default="0"/>
	<arg name="y" default="-0.38"/>
	<arg name="z" default="0.5"/>
	<arg name="R" default="0.0"/>
	<arg name="P" default="0.0"/>
	<arg name="Y" default="0.0"/>

	<arg name="robot_ns" default=""/>
	<arg name="model_name" default="terrasentia"/>
	<arg name="robot_model" default="$(find terra_description)/urdf/terrasentia2022.urdf.xacro"/>
	<arg name="ekf_frame_id" value="base_footprint"/>

	<group ns="terrasentia">
		<param name="robot_description" command="xacro $(arg robot_model) robot_ns:=$(arg robot_ns)"/>
		<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" args="-urdf 
			-x $(arg x) -y $(arg y) -z $(arg z)
			-R $(arg R) -P $(arg P) -Y $(arg Y)
			-model $(arg model_name) 
			-param robot_description"/>

		 <!--static_transform_publisher x y z yaw pitch roll -->
		<node pkg="tf" type="static_transform_publisher" name="camera_link2baselink" args="0.23222 0 0.14 0 0 0 $(arg ekf_frame_id) front_cam_node_rgb_frame 10" />
		<!-- <node pkg="tf" type="static_transform_publisher" name="laser2baselink" args="0.15 0 0.24 0 0 0 $(arg ekf_frame_id) laser 10" /> -->
		<node pkg="tf" type="static_transform_publisher" name="zed2baselink" args="0.156 0 0.283 0 0 0 $(arg ekf_frame_id) zed2_camera_center 10" />
		<node pkg="tf" type="static_transform_publisher" name="grid2robot" args="0 0 0 0 0 0 1 $(arg ekf_frame_id) grid 10" />
		<node pkg="tf" type="static_transform_publisher" name="zedlaser2baselink" args="0.156 0 0.283 0 0 0 $(arg ekf_frame_id) camera_depth_frame 10" />

		<node pkg="terra_utils" type="rowfollow_gt.py" name="heading_distance_gt" output="log"></node>
		<node pkg="terra_utils" type="perception_node_kp.py" name="keypoint_prediction" output="log"></node>


	</group>
</launch>
