<?xml version="1.0"?>
<launch>

     <!-- <env name="__NV_PRIME_RENDER_OFFLOAD" value="1"/>
     <env name="__GLX_VENDOR_LIBRARY_NAME" value="nvidia"/> -->


     <arg name="robot_ns" default="terrasentia"/>
	<arg name="model_name" default="terrasentia"/>

	<arg name="paused" default="false"/>
	<arg name="gui" default="true"/>
	<arg name="debug" default="false"/>
	<arg name="verbose" default="false"/>

     <!-- Launch configuration settings -->
     <arg name="world" default="farm.world"/>

     <!-- Load Gazebo world -->
     <include file="$(find terra_gazebo)/launch/world_template.launch">
          <arg name="world_name" value="$(find terra_worlds)/worlds/$(arg world)"/>
          <arg name="paused" value="$(arg paused)"/>
		<arg name="gui" value="$(arg gui)"/>
		<arg name="debug" value="$(arg debug)"/>
		<arg name="verbose" value="$(arg verbose)"/>
     </include>

     <include file="$(find terra_gazebo)/launch/spawn_robot.launch" pass_all_args="true"/>

     
     
</launch>
